html,
body {
    width: 100%;
    height: 100%;
}

.container1 {
    position: relative;
    top: 0;
    width: 100%;
    height: 1300px;
    flex-direction: column;
    display: flex;
    padding: 0;

}

h2 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.imagem-principal {
    order: -1;
    justify-self: baseline;
}

.imagens-selecionave {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 350px;
    margin: 0;
    margin-top: 10px;
}

.outra-imagem {
    width: 65px;
    height: 100px;
    margin: 0;
}



.zoom-imagem {
    width: 350px;
    height: 400px;
    order: -1;
}

.zoom-imagem span {
    top: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sobre {
    margin-bottom: 20px;
    color: darkgray;
}

.valor {
    margin-bottom: 10px;
    font-size: 1.3rem;
    letter-spacing: 5px;
}

.sobre-produto {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.sobre {
    width: 90%;
    font-size: 15px;
    text-align: justify;
    align-self: center;
}

.compra {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comprar {
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    color: white;
}

.carrinho {
    width: 300px;
    height: 50px;
    background-color: transparent;
}

/* caixas , container, conjustos ,etc */

#caixa-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#caixa-2 {
    width: 100%;
}

.descricao-produto {
    width: 80%;
    background-color: darkgray;
}