* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.texto-gradient {
    background: linear-gradient(to right, black, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.botao-preenchido {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    border-radius: 210px;
}

.botao-preenchido::before {
    content: 'P L A Y';
    align-content: center;
    font-size: 3vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: red;
    transition: width 0.3s ease;
}

.botao-preenchido:hover::before {
    width: 100%;
}

.texto-neon {
    color: white;
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 20px #1ed2f4,
                 0 0 30px #1ed2f4,
                 0 0 40px #1ed2f4,
                 0 0 55px #1ed2f4,
                 0 0 75px #1ed2f4;
}

.fundo-em-camadas {
    background: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('../Teste_3/img/img.png') center/cover no-repeat;
}

@keyframes girar {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
.loading {
    width: 40px;
    height: 40px;
    background-color: black;
    border: 5px solid yellow;
    border-top-color: red;
    border-radius: 50%;
    animation: girar 1s infinite linear;
}

.botao-flutuante {
    width: 100px;
    height: 50px;
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}
.botao-flutuante::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    transition: width 0.3s, height 0.3s, opacity 0.3s;
}
.botao-flutuante:hover::before {
    width: 0;
    height: 0;
    opacity: 0;
}
.botao-flutuante:hover {
    color: #3498db;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

